/* Main Menu Styling */
body {
  margin: 0;
  background-color: #87d0e8;
}
main {
  height: 100vh;
  text-align: center;
}
li {
  width: 41%;
  display: inline-block;
  text-align: center;
  padding: 0%;
}
ul li p {
  padding: 15%;
  font-family: 'Oswald', sans-serif;
  font-size: 2.7rem;
}
.o, .one, .four{
  background-color: black;
  transition: background-color 1000ms;
  color: orange;
}
.g, .two, .five{
  background-color: white;
  transition: background-color 1000ms;
  color: green;
}
.y, .seven, .six{
  background-color: black;
  transition: background-color 1000ms;
  color: yellow;
}
.b, .three, .eight{
  background-color: white;
  transition: background-color 1000ms;
  color: blue;
}
.smallergray {
  margin: 5%;
  background-color: gray;
}
.green {
  background-color: green;
}
.yellow {
  background-color: yellow;
}
.blue {
  background-color: blue;
}
.down {
  margin-top: -7%;
}
.yaxis {
  margin-top: 0%;
  transition: all 2s;
}
.xaxis {
  margin-right: 5%;
}
.show {
  transition: all 2s;
}

.colors {

}
